In [13]:
#import dependencies
import pandas as pd
import requests as req
#create separate file with individual log in credentials to be imported
from climatekeys import (user_id_aqs, password_aqs)
import csv
#parameter number for ozone (44201) 
url = f"https://aqs.epa.gov/api/rawData?user={user_id_aqs}&pw={password_aqs}&format=DMCSV&param=44201&bdate=20110101&edate=20110201&state=06&county=001"
headers = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.90 Safari/537.36'}
response = req.get(url)

In [15]:
print(response.status_code) #should be 200 if the API worked

200

In [16]:
#Response is downloaded as a text (try response.text to see). Csv.reader converts the text file to a bunch of
# lists. These lists need to be put in a 'Master List' to make a list of lists.
#the first list created is stored as a header and every follwing list is append in the 'Master List'
wrapper = csv.reader(response.text.strip().split('\n'))
empty_list = []
header = next(wrapper)
for record in wrapper:
    empty_list.append(record)

In [17]:
df = pd.DataFrame(empty_list, columns = header)
df.head()

,Latitude,Longitude,Datum,Horizontal Accuracy,State Code,County Code,Site Num,Parameter Code,POC,AQS Parameter Desc,...,Day In Year GMT,Sample Measurement,Units of Measure,Sample Duration,Sample Frequency,Detection Limit,Measurement Uncertainty,Qualifier Description,Method Type,Method Description
0,37.814781,-122.282347,WGS84,6,06,001,0011,44201,1,Ozone,...,19,0,Parts per million,1 HOUR,,-999,,,Equivalent,INSTRUMENTAL-ULTRA VIOLET
1,37.743065,-122.169935,WGS84,6,06,001,0009,44201,1,Ozone,...,19,0,Parts per million,1 HOUR,,-999,,,Equivalent,INSTRUMENTAL-ULTRA VIOLET
2,37.687526,-121.784217,WGS84,109305.56,06,001,0007,44201,1,Ozone,...,19,0,Parts per million,1 HOUR,,-999,,,Equivalent,INSTRUMENTAL-ULTRA VIOLET
3,37.814781,-122.282347,WGS84,6,06,001,0011,44201,1,Ozone,...,19,0,Parts per million,1 HOUR,,-999,,,Equivalent,INSTRUMENTAL-ULTRA VIOLET
4,37.743065,-122.169935,WGS84,6,06,001,0009,44201,1,Ozone,...,19,0,Parts per million,1 HOUR,,-999,,,Equivalent,INSTRUMENTAL-ULTRA VIOLET

In [5]:
df.columns

Index(['Latitude', 'Longitude', 'Datum', 'Horizontal Accuracy', 'State Code',
       'County Code', 'Site Num', 'Parameter Code', 'POC',
       'AQS Parameter Desc', 'Date Local', '24 Hour Local', 'Date GMT',
       '24 Hour GMT', 'Year GMT', 'Day In Year GMT', 'Sample Measurement',
       'Units of Measure', 'Sample Duration', 'Sample Frequency',
       'Detection Limit', 'Measurement Uncertainty', 'Qualifier Description',
       'Method Type', 'Method Description'],
      dtype='object')

In [6]:
df.columns

Index(['Latitude', 'Longitude', 'Datum', 'Horizontal Accuracy', 'State Code',
       'County Code', 'Site Num', 'Parameter Code', 'POC',
       'AQS Parameter Desc', 'Date Local', '24 Hour Local', 'Date GMT',
       '24 Hour GMT', 'Year GMT', 'Day In Year GMT', 'Sample Measurement',
       'Units of Measure', 'Sample Duration', 'Sample Frequency',
       'Detection Limit', 'Measurement Uncertainty', 'Qualifier Description',
       'Method Type', 'Method Description'],
      dtype='object')

In [7]:
df_trimmed = df[['Date Local','24 Hour Local','Date GMT','Sample Measurement','Units of Measure','Sample Duration','Sample Frequency']]
df_trimmed.head()

,Date Local,24 Hour Local,Date GMT,Sample Measurement,Units of Measure,Sample Duration,Sample Frequency
0,2011-01-18,23:00,2011-01-19,0,Parts per million,1 HOUR,
1,2011-01-18,23:00,2011-01-19,0,Parts per million,1 HOUR,
2,2011-01-18,23:00,2011-01-19,0,Parts per million,1 HOUR,
3,2011-01-18,22:00,2011-01-19,0,Parts per million,1 HOUR,
4,2011-01-18,22:00,2011-01-19,0,Parts per million,1 HOUR,